<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>
<header class="header">
    <div class="container">
        <img src="img/logoDeBuggers.png" alt="DeBuggers" class="logo">
    </div>
</header>

    <section class="features">
        <div class="container">
            <div class="feature">
                <img src="img/codigoQR.png" alt="Pilotos" class="feature-img">
                <h3 class="feature-title">Escanea el codigo QR</h3>
                <p class="feature-description">Herramienta para conocer os horarios y profesores de esta clase.</p>
                <a href="/pilotos" class="btn btn-secondary">Ver más</a>
            </div>
            
        </div>
    </section>



</body>
<%- include('partials/footer.html') %>
</html>
